<!-- The title toolbar. -->
<p>
    <titleheader></titleheader>
</p>

<!-- Game content screen. More comments below to explain each segment. -->
<p>
    <mat-card>
        <div class="row">
            <!-- Timer bar, quit button and 'disabled button' showing session ID. -->
            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 pb-2">
                <span class="material-icons">timer</span><mat-progress-bar mode="determinate" value="{{timer.getTimePercent()}}"></mat-progress-bar>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <button mat-stroked-button style="margin-right:5px" (click)="quit()">Quit</button>
                <button mat-flat-button disabled><span style="color:white; align-items: center; font-size: x-large;">{{formData.sessieid}}</span></button>
            </div>
        </div>
        <div class="row py-4">
            <!-- Explanation bar. This holds the expansion panel for the game control explanation. -->
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <mat-expansion-panel>
                    <mat-expansion-panel-header style="text-align: center;">
                        <mat-panel-description>
                            Click here for a refresher!
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p><b>See those options?</b> Click those to get your mad lib built! The words are introduced by a category, so you know just what you're picking.</p>
                    <p><b>See that timer?</b> When that runs out, you may no longer submit an answer, and blanks will be submitted where you failed to choose. Don't run out!</p>
                    <p><b>The big number?</b> That's the session id! If you have friends around, tell them to join that session. You can play with up to 6 people!</p>
                    <p><b>Shuffle?</b> Hate the words you're seeing? Click shuffle to get a new set of words!</p>
                    <p><b>Report?</b> Really hate the words you're seeing? You may click report to report them to us and we'll make sure you won't see them again in this session. Additionally, words that are repeatedly reported will be removed from the service.</p>
                    <p>What are you waiting for? Go play!</p>
                </mat-expansion-panel>
            </div>
        </div>
        <div class="row">
            <!-- Actual game component. -->
            <div class="col-sm-12 col-md-12 col-lg-1 col-xl-1">
                <!-- Loop through all players and print their names and scores. -->
                <div *ngFor="let key of formDataKeys" class="pt-2"><p><span matBadge="{{formData[key.score] || ''}}" matBadgePosition="before" matBadgeOverlap="false">{{formData[key.name] || ''}}</span></p></div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
                <!-- Loop through all the mad lib options and display them on screen. -->
                <div class="row" *ngFor="let key of madLibData; index as i">
                    <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2 pt-2 pb-1"><mat-chip-list><mat-chip class="w-100" selected color="accent">{{madLibData[i].key |titlecase}}</mat-chip></mat-chip-list></div>
                    <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 pb-3 pt-2 button-row">
                                        <button mat-raised-button class="w-50" color="{{madLibData[i].word1color}}" (click)="onWordClicked(madLibData[i].key, madLibData[i].word1); input.value = '';">{{madLibData[i].word1 |titlecase}}</button>
                                        <button mat-raised-button class="w-50" color="{{madLibData[i].word2color}}" (click)="onWordClicked(madLibData[i].key, madLibData[i].word2); input.value = '';">{{madLibData[i].word2 |titlecase}}</button>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 pb-3 pt-2 button-row">
                                        <button mat-raised-button class="w-50" color="{{madLibData[i].word3color}}" (click)="onWordClicked(madLibData[i].key, madLibData[i].word3); input.value = '';">{{madLibData[i].word3 |titlecase}}</button>
                                        <button mat-raised-button class="w-50" color="{{madLibData[i].word4color}}" (click)="onWordClicked(madLibData[i].key, madLibData[i].word4); input.value = '';">{{madLibData[i].word4 |titlecase}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                                <mat-form-field appearance="fill" class="loginInput" class="pb-1 w-100">
                                    <mat-label>Enter your own mad lib...</mat-label>
                                    <input matInput #input maxlength="17" (keyup)="onWordClicked(madLibData[i].key, input.value)">
                                    <mat-hint align="end">{{input.value?.length || 0}}/17</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <!-- Show the shuffle and report buttons. -->
                <p><button mat-mini-fab color="accent" title="Shuffle" (click)="refreshWords()">
                    <span class="material-icons">cached</span>
                </button></p>
                <p><button mat-mini-fab color="accent" title="Report" (click)="reportWords()">
                    <span class="material-icons">sms_failed</span>
                </button></p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-12">
                <!-- Show the end button. -->
                <button mat-raised-button color="primary" class="w-100" (click)="submitMadLib()">{{endButtonText}}</button>
            </div>
        </div>

        <!-- This is a nice footer. -->
        <mat-card-footer>
            <sub>{{footer_message}}</sub>
        </mat-card-footer>
    </mat-card>
</p>