<!-- The title toolbar. -->
<p>
    <titleheader></titleheader>
</p>

<!-- The game explanation panel. Can extend when clicked upon. -->
<p>
    <mat-expansion-panel>
        <mat-expansion-panel-header style="text-align: center;">
            <mat-panel-title style="font-size: x-large">
                <b>Welcome!</b>
            </mat-panel-title>
            <mat-panel-description>
                Click here for an explanation!
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Mad Libs is the worlds best word game and can make anyone the funniest person in the room! Mad Libs are stories where words have been omitted and replaced with blank spaces. One player functions as the 'reader' and asks other players, that haven't read the story, to fill in the blanks. These words are then added to the story with hilarious results. There are no winner or losers, just laughter!</p>
            
        <p><b>Or are there?</b> Madders Libs takes the concept of Mad Libs and removes the need for a reader. You are all the reader. Join your friends in a session where everyone fills in the same story with either random options or your very own input! Once everyone has their options filled in, you can even vote who you found the funniest and score points. Beat your friends by being the funniest, or most creative person in the room (or let's be honest, the person that knows the most memes)!</p>
    </mat-expansion-panel>
</p>

<!-- A link to the loginform component. -->
<p>
    <loginForm></loginForm>
</p>