<mat-card>
    <mat-card-title>The story begins...</mat-card-title>
    <mat-card-subtitle>But first...</mat-card-subtitle>
    <form [formGroup]="loginForm">
        <mat-card-content>
            <p>
                <mat-form-field hintLabel="Max 15 characters" appearance="fill" class="loginInput">
                    <mat-label>Enter a nickname you are known by</mat-label>
                    <input matInput #input maxlength="15" placeholder="Ex. Postman Pat" formControlName="nickname">
                    <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill" class="loginInput">
                    <mat-label>Enter a session ID if you're playing with friends</mat-label>
                    <input matInput maxlength="5" formControlName="sessieid">
                    <mat-hint>Feel free to leave this blank to start a new session.</mat-hint>
                </mat-form-field>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" id="startButton" [disabled]="!loginForm.valid" (click)="onPlay()">Let's get started</button>
        </mat-card-actions>
    </form>
    <mat-card-footer>
        <sub>{{footer_message}}</sub>
    </mat-card-footer>
</mat-card>